@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    @apply font-medium;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    width: 100%;
}

input {
    font-family: 'Quicksand', sans-serif;
    outline: none;
}
